@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #10141e;
  padding: 30px;
}
@theme {
  --breakpoint-mmd: 900px;
}
@media (max-width: 800px) {
  .slider {
    width: 2000px;
  }
}
